.card {
    display: flex;
    justify-content: center;
    align-content: center;
}

.field {
    padding: 15px 20px;
    font-size: larger;
}

.card .field span {
    padding: 15px;
}

.card .field button {
    justify-self: center;
}